.my_container{
    height: 100vh;
}

header{
    height: 50px;
}

main{
    height: calc(100% - 50px);
}

.sidebar_{
    height: 100%;
    background: #051E34;
    background-image: url("../img/sidebar-bg.png");
    color: white;
}

.sidebar_ span{
    font-size: 0.7rem;
}

.dashboard_container{
    background-color: white;
    height: 100%;
}

header{
    background-color: #F8F9FA;
}

header > div{
    background-color: white;
}

.lg_dont_show{
    display: none;
}

.search_bar{
    background: #E5E5E5;
}

.search_bar > input{
    border: none;
    background-color: #E5E5E5;
}

.fa-bell{
    color: #FF8F00;
}

.md_show{
    display: none;
}

.display-6{
    font-size: 2rem;
}

td > span > .fa-code{
    background-color: #F26551;
    padding: 5px;
    border-radius: 50%;
}

.card-body{
    font-size: 0.8rem;
}


@media screen and (max-width: 768px){
    
    .md_dont_show{
        display: none;
    }

    .md_show{
        display:inline;
    }

    .lg_dont_show{
        display: inline-block;
        width: 30px;
        height: 30px;
    }

    .offcanvas{
        width: 100% !important;
    }
}